// styles/Home.module.scss

.container {
  text-align: center;
  margin: 40px 0;
  background-color: #ffff;
  margin-left: 287px;
  margin-right: 287px;
}

.progressContainer {
  width: 80%;
  margin: 20px auto;
}

.sportSelectionContainer {
  h2 {
    color: #000;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 88px;
  }

  .cardCustom{
    width: 267.131px !important;
    height: 161.006px !important;
    flex-shrink: 0 !important;
    border-radius: 8.596px !important;
    border: 1.322px solid #F2F2F2 !important;
    background: #FEFEFE !important;
    transition: background-color 0.3s, border-color 0.3s;
  
    img {
      margin-top: 20px;
    }
  
    p {
      margin-top: 29px;
      color: #181818;
      font-family: Poppins;
      font-size: 13.224px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  
    &:hover {
      background-color: #E73725 !important;
      border-color: #E73725 !important;
    }
  
    &.active {
      border-color: #E73725;
      background-color: #E73725;
      color: white;
    }
  }
  
 

  .nextButtonContainer {
    width: 222px !important;
    height: 65px !important;
    flex-shrink: 0 !important;
    border-radius: 100px !important;
border: 1px solid var(--orange, #E73725) !important;
background: rgba(231, 55, 37, 0.00) !important;
color: var(--orange, #E73725);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
}
