.footer {
    background-color: #e94e37 !important;  // Adjust the background color as per your design
    color: white;
   
  
    .container {
      margin: 0 auto;
      padding: 87px 87px 0 87px; 
    }
  
    .logoSection {
      h3 {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
      }
      p {
        color: var(--White, #FFF);
font-family: Poppins;
font-size: 15.522px;
font-style: normal;
font-weight: 400;
line-height: 25.223px; /* 162.5% */
        margin-top: 10px;
        width: 285.215px;
      }
    }
  
    .footerSection {
      h4 {
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 12.612px;
        font-style: normal;
        font-weight: 600;
        line-height: 17.462px; /* 138.462% */
        letter-spacing: 0.97px;
        text-transform: uppercase; color: white;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 15px;
      }
  
      ul {
        list-style: none;
        padding: 0;
       
        li {
            color: var(--White, #FFF);
            font-family: Poppins;
            font-size: 15.522px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 28px;
            margin-top: 28px;
            line-height: 23.283px; /* 150% */
          cursor: pointer;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .newsletterSection {
      h4 {
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 28px;
      }
  
      .input {
        color: var(--whitw, #FFF);
        font-family: Poppins;
        font-size: 15.522px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.223px; /* 162.5% */
        margin-bottom: 10px;
      }
  
      .subscribeButton {
        display: flex;
width: 296.857px;
height: 53.357px;
padding: 15.522px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 9.701px;
flex-shrink: 0;
border-radius: 8.731px;
background: var(--White, #FFF);
color: var(--orange, #E73725);
text-align: center;
font-family: Poppins;
font-size: 15.522px;
font-style: normal;
font-weight: 500;
line-height: 23.283px; /* 150% */
margin-top: 15px;
  
      
      }
    }
  
    .copyright {
      margin-top: 40px;
      color: var(--White, #FFF);
      text-align: center;
      font-family: Poppins;
      font-size: 13.582px;
      font-style: normal;
      font-weight: 400;
      line-height: 21.343px; /* 157.143% */
    }
  }
  