// styles/Footer.module.scss
.footer {
    background-color: #E73725;
    color: #FFF;
    
    font-family: var(--font-poppins);

  }
     
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logoSection {
    max-width: 300px;
  }
  
  .logo {
    font-size: 36px;
    font-weight: 700;
  }
  
  .description {
    font-size: 15.522px;
    font-weight: 500;
    line-height: 23.283px;
  }
  
  .linksSection {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  
  .column {
    width: 200px;
  }
  
  .column h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .column li {
    font-size: 15.522px;
    font-weight: 500;
    line-height: 23.283px;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  
  .emailInput {
    width: 300px;
    margin-bottom: 10px;
  }
  
  .subscribeButton {
    background-color: #fff;
    color: #E73725;
    border: none;
    font-weight: 600;
  }
  
  .footerBottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footerBottom p {
    font-size: 14px;
    color: #FFF;
  }
  